/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	 chosen {
		 nordic,nus-uart = &uart0;
	 };
};


&i2c1 {
    status = "disabled";
};

&spi2 {
    status = "disabled";
};

&adc {
    status = "disabled";
};